<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-bg-light">
        <a class="navbar-brand ms-4 text-light" href="#">Hotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around " id="navbarNav">
            <ul class="navbar-nav ">
                @if (User.Identity.IsAuthenticated)
                {

                    <li class="me-3">@Html.ActionLink("Riepilogo", "MostraRiepilogo", "Riepilogo")</li>
                    <li class="me-3">@Html.ActionLink("Crea Prenotazione", "Create", "Prenotazioni")</li>
                    <li class="me-3">@Html.ActionLink("Nuovo Cliente", "Create", "Cliente")</li>
                    <li class="me-3">@Html.ActionLink("Logout", "Logout", "Home")</li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
